
/* Style title and intro section */
#intro-container{
  text-align: center;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  .card-body{
    background-color: teal;
  }

}

.mb-3{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

#student-houses{
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  padding: 1rem 1rem;
}

#btn-container{
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;

  button{
    width: 10rem;
  };
}

/* style card container section */
#card-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10rem;

  img.card-img-top{
    height: 10rem;
    width: 10rem;
    margin: 0 auto 0 auto;
  }

  .list-group-item{
    background-color: lightblue;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
  }

  .card-title{
    text-align: center;
  }

  .card > button{
    background-color: red;
    margin-top: 1rem;
  }
  }

#expelled-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10rem;

  .list-group-item{
    background-color: red;
    color: white;
    text-align: center;
  }

  .card-title{
    text-align: center;
  }

  .card > button{
    background-color: black;
    margin-top: 1rem;
  }
  }
